
anino-exam/Logs/AssetImportWorker0-prev.log
anino-exam/Logs/AssetImportWorker0.log
anino-exam/Logs/AssetImportWorker1.log
anino-exam/Logs/shadercompiler-AssetImportWorker0.log
anino-exam/Logs/shadercompiler-UnityShaderCompiler.exe0.log
anino-exam/Logs/shadercompiler-UnityShaderCompiler.exe1.log
anino-exam/Logs/shadercompiler-UnityShaderCompiler.exe10.log
anino-exam/Logs/shadercompiler-UnityShaderCompiler.exe11.log
anino-exam/Logs/shadercompiler-UnityShaderCompiler.exe2.log
anino-exam/Logs/shadercompiler-UnityShaderCompiler.exe3.log
anino-exam/Logs/shadercompiler-UnityShaderCompiler.exe4.log
anino-exam/Logs/shadercompiler-UnityShaderCompiler.exe5.log
anino-exam/Logs/shadercompiler-UnityShaderCompiler.exe6.log
anino-exam/Logs/shadercompiler-UnityShaderCompiler.exe7.log
anino-exam/Logs/shadercompiler-UnityShaderCompiler.exe8.log
anino-exam/Logs/shadercompiler-UnityShaderCompiler.exe9.log
